<section class="product_page">
  <div class="product_container">
    <figure class="product_image">
      <img src="https://picsum.photos/1024/768" alt="product image" />
    </figure>
    <article class="product_sidebar">
      <h1 class="product_title">DK Style 100% Merino</h1>
      <p class="prodcut_desc">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quae
        quis eum, fugiat sed, amet sunt error adipisci quaerat tenetur similique
        iusto neque ut consequatur, placeat praesentium voluptatem accusantium
        dolorum.
      </p>
      <div class="product_price">$27.00 USD</div>
      <div class="product_quantity">5 Available</div>
      <div class="product_count">
        <button class="product_count-btn">&ndash;</button>
        1
        <button class="product_count-btn">&plus;</button>
      </div>
      <button class="product_add-cart">Add To Cart</button>
      <h2 class="detail_heading">All the details...</h2>
      <ul class="detail_list">
        <li>
          <strong>Fiber:</strong>
          100% Merino Wool
        </li>
        <li>
          <strong>Weight:</strong>
          DK
        </li>
        <li>
          <strong>Yards:</strong>
          246
        </li>
        <li>
          <strong>Meters:</strong>
          225
        </li>
        <li>
          <strong>Grams:</strong>
          100
        </li>
        <li>
          <strong>Ounces:</strong>
          3.5
        </li>
      </ul>
    </article>
  </div>
</section>
