<h1 class="primary_heading">Products</h1>
<section class="products">
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/768/1024" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1600/400" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/300/300" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
  <article class="item">
    <a class="view_item" [routerLink]="['/product']">
      <span class="access-hidden">Lorem ipsum dolor sit amet</span>
      <figure class="image">
        <img src="https://picsum.photos/1024/768" alt="product image" />
      </figure>
      <p class="item_desc">
        <span class="item_name">Lorem ipsum dolor sit amet</span>
        <span class="item_cost">$27.00 USD</span>
      </p>
    </a>
  </article>
</section>
