<div class="page_opener">
  <h1 class="primary_heading">Login</h1>
  <p>
    Log in to access your account and continue shopping. Enjoy streamlined
    checkout, track your orders in real-time, and never miss out on exclusive
    promotions tailored just for you. If you're new here, register for an
    account to take full advantage of our offerings.
  </p>
  <p>Happy shopping!</p>
</div>
<section class="auth_page">
  <aside class="content">
    <p>Please login to access your account.</p>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </aside>
  <form class="auth_form" #form="ngForm" (ngSubmit)="onLogin(form)">
    <label for="email" class="access-hidden">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      ngModel
      required
      placeholder="Email"
    />
    <label for="password" class="access-hidden">Password</label>
    <input
      id="password"
      type="password"
      name="password"
      ngModel
      required
      placeholder="Password"
    />
    <button type="submit">Login</button>
  </form>
</section>
