.auth_page {
  @include flexbox($flow: column nowrap);
  gap: 2rem;

  @include breakpoint(large) {
    flex-flow: row nowrap;
  }
}

.content {
  flex: 1 1 auto;
}

.auth_form {
  @include flexbox($flow: column wrap);
  flex: 0 0 auto;

  @include breakpoint(large) {
    flex: 0 0 66%;
    max-width: 66%;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0 0 1rem;
    border: 2px solid var(--brown);
    border-radius: 0;

    &.ng-invalid.ng-touched {
      border-color: red;

      &::after {
        content: "Invalid";
      }
    }
  }
}

button[type="submit"] {
  @include button;
  min-width: 150px;
  margin: 0 auto;
}
