html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  @include font-normal;
  font-size: 100%;
  line-height: 1.75;
  letter-spacing: 0.03125rem;
  color: var(--black);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.access-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.main {
  @include max-width();

  @include breakpoint(large) {
    margin: 2rem auto 0;
  }
}

.primary_heading {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
