<section class="cart">
  <h1 class="primary_heading">Shopping Cart</h1>
  <!--loop starts here-->
  <article class="cart_item">
    <div class="img_container">
      <figure class="cart_img">
        <img src="https://picsum.photos/275/500" alt="product thumb" />
      </figure>
    </div>

    <div class="cart_details">
      <div class="cart_title">DK Style 100% Merino Yellow Tonal</div>

      <div class="cart_quantity">
        <button class="product_count-btn">&ndash;</button>
        1
        <button class="product_count-btn">&plus;</button>
      </div>

      <div class="item_subtotal">
        $27.00 USD
        <br />
        <button class="remove_item">Remove</button>
      </div>
    </div>
  </article>
  <!--loop ends here-->
  <div class="cart_total">
    <strong>Cart Total:</strong>
    $132.45 USD
    <p class="checkout_button"><a href="">Checkout</a></p>
  </div>
</section>
