<section class="product_page">
  <p class="back_shop"><a [routerLink]="''">Back to the shop</a></p>
  <div class="product_container">
    <figure class="product_image">
      <img
        *ngIf="product?.image"
        [src]="'assets/images/' + product?.image"
        alt="{{ product?.alt }}"
      />
    </figure>
    <article class="product_sidebar">
      <h1 class="product_title">{{ product?.name }}</h1>
      <p class="prodcut_desc">
        {{ product?.description }}
      </p>
      <div class="product_price">${{ product?.cost }}.00 USD</div>
      <div class="product_quantity">{{ product?.quantity }} Available</div>
      <div class="product_count">
        <button class="product_count-btn" (click)="decrementQuantity()">
          &ndash;
        </button>
        {{ quantity }}
        <button class="product_count-btn" (click)="incrementQuantity()">
          &plus;
        </button>
      </div>
      <button class="product_add-cart" (click)="addToCart(product, quantity)">
        Add To Cart
      </button>
      <h2 class="detail_heading">All the details...</h2>
      <ul class="detail_list">
        <li>
          <strong>Materials:</strong>
          {{ product?.material }}
        </li>
        <li>
          <strong>Finish:</strong>
          {{ product?.finish }}
        </li>
        <li *ngIf="product?.weight">
          <strong>Weight:</strong>
          {{ product?.weight }}
        </li>
        <li *ngIf="(product?.yards ?? 0) > 0">
          <strong>Yards:</strong>
          {{ product?.yards }}
        </li>
        <li *ngIf="(product?.yards ?? 0) > 0">
          <strong>Meters:</strong>
          {{ (product?.yards ?? 0) / 1.094 | number : "1.0-1" }}
        </li>
        <li *ngIf="(product?.grams ?? 0) > 0">
          <strong>Grams:</strong>
          {{ product?.grams }}
        </li>
        <li *ngIf="(product?.grams ?? 0) > 0">
          <strong>Ounces:</strong>
          {{ (product?.grams ?? 0) / 28.3495 | number : "1.0-1" }}
        </li>
      </ul>
    </article>
  </div>
</section>
