html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	@include font-normal;
	font-size: 100%;
	line-height: 1.75;
	color: $black;
}

img {
	max-width: 100%;
	height: auto;
}

.access-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.main {
	@include max-width;
}
