.product_page {
  .product_container {
    @include flexbox(
      $flow: row wrap,
      $justify: space-between,
      $align: flex-start
    );
    gap: 2rem;
  }
}

.product_image {
  position: relative;
  flex: 0 0 100%;
  height: 0;
  margin: 0;
  padding-bottom: 56.25%;

  img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
  }

  @include breakpoint(large) {
    flex: 0 0 calc(66.666% - 2rem);
    padding-bottom: 60%;
  }
}

.product_sidebar {
  flex: 0 0 100%;

  @include breakpoint(large) {
    flex: 0 0 33.333%;
  }
}

.product_title {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--light-blue);

  @include breakpoint(large) {
    font-size: 3rem;
  }
}

.detail_heading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 3rem 0 0;
  padding: 1.5rem 0 1rem;
  border-top: 1px solid var(--light-blue);
}

.detail_list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  strong {
    font-weight: 600;
  }
}

.product_price {
  margin: 1rem 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.product_quantity {
  font-style: italic;
}

.product_count {
  @include flexbox($flow: row nowrap, $justify: space-between, $align: center);
  width: 110px;
  margin: 1rem 0;
  padding: 8px;
  border: 2px solid var(--light-red);

  .product_count-btn {
    display: block;
    width: 25px;
    height: 25px;
    border: 0;
    appearance: none;
    background-color: transparent;
    line-height: 0;
    text-align: center;
  }
}

.product_add-cart {
  appearance: none;
  border: 2px solid var(--light-red);
  background-color: var(--light-red);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: var(--white);
  padding: 10px 15px;
  width: auto;
  transition: all 300ms ease;

  &:hover,
  &:active {
    background-color: transparent;
    color: var(--black);
  }
}
