/* You can add global styles to this file, and also import other style files */
// Color Variables
:root {
  --pink: #ffc0cb;
  --black: #222;
  --white: #fff;
  --dk-gray: #ccc;
  --gray: #eaeaea;
  --blue: #022859;
  --lt-blue: #79baf2;
  --lt-yellow: #f2c879;
  --dk-yellow: #d99d55;
  --brown: #6f5147;
  --maroon: #732929;
  --green: #79928c;
  --purple: #4b2848;
}

@import "mixins";
@import "normalize";
@import "main";
@import "form";
@import "header";
@import "footer";
@import "products";
@import "product-page";
@import "cart";
